html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.2;
}

ol {
  padding-left: 1.4em;
  list-style: decimal;
}

ul {
  padding-left: 1.4em;
  list-style: square;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fons/Gilroy-Regular.woff") format("woff"), url("../fons/Gilroy-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fons/Gilroy-Bold.woff") format("woff"), url("../fons/Gilroy-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fons/Gilroy-SemiBold.woff") format("woff"), url("../fons/Gilroy-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

.text1 {
  margin-top: 48px;
}

.text2 {
  margin-top: 20px;
}

body {
  height: 100vh;
}

.main {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.veres__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.veres__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.veres__content .bot {
  position: absolute;
  height: 436px;
  width: 649px;
  left: -170px;
  bottom: -180px;
  z-index: -1;
}

.veres__block {
  margin-top: 36px;
}

.veres__logo img {
  width: 215px;
  height: 109px;
}

.veres__block2 {
  max-width: 566px;
  margin: 55px auto 0 auto;
}

.veres__title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
}

.veres__title-bold {
  color: #026937;
}

.veres__text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
}

.veres__sub-text {
  margin-top: 33px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #006938;
}

.veres__imgaes {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  background: url(../img/fon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.veres__imgaes img {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  position: absolute;
  top: -160px;
  left: -80px;
}

.veres__link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 1;
  top: 320px;
  left: 225px;
}

.veres__link {
  border-radius: 15px;
  background-color: #fff;
  display: inline-block;
  font-size: 19px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
}

.telegram {
  max-width: 228px;
  padding: 18px 10px 18px 22px;
  color: #29aaec;
  position: relative;
  width: 100%;
  display: inline-block;
}

.telegram::after {
  content: "";
  background: url(../img/telegram.svg);
  width: 28px;
  height: 23px;
  position: absolute;
  right: 25px;
}

.viber {
  max-width: 207px;
  padding: 18px 10px 18px 43px;
  margin-top: 38px;
  color: #675dac;
  position: relative;
}

.viber::after {
  content: "";
  background: url(../img/viber.svg);
  width: 24px;
  height: 25px;
  position: absolute;
  right: 45px;
}

.link-mobile__container {
  display: none;
}

.veres__footer {
  display: none;
}

@media (max-width: 1250.98px) {
  .veres__block {
    margin-top: 20px;
  }
  .veres__logo {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .veres__block2 {
    margin-top: 30px;
  }
  .veres__title {
    margin: 0 20px;
    font-size: 50px;
    text-align: center;
  }
  .veres__text {
    margin: 20px 15px 0 15px;
    text-align: center;
  }
  .veres__sub-text {
    text-align: center;
    padding-bottom: 40px;
  }
  .veres__imgaes img {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    position: absolute;
    top: -250px;
    left: -200px;
  }
  .veres__link-container {
    position: relative;
    z-index: 1;
    top: 270px;
    left: 180px;
  }
  .veres__link {
    font-size: 17px;
  }
  .telegram {
    max-width: 197px;
    padding: 18px 10px 18px 15px;
    color: #29aaec;
    position: relative;
    width: 100%;
    display: inline-block;
  }
  .telegram::after {
    content: "";
    background: url(../img/telegram.svg);
    width: 28px;
    height: 23px;
    position: absolute;
    right: 15px;
  }
  .viber {
    max-width: 179px;
    padding: 18px 10px 18px 33px;
    margin-top: 38px;
    color: #675dac;
    position: relative;
  }
  .viber::after {
    content: "";
    background: url(../img/viber.svg);
    width: 24px;
    height: 26px;
    position: absolute;
    right: 32px;
    top: 15px;
  }
}

@media (max-width: 1000.98px) {
  .veres__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    background: url(../img/fon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .veres__block {
    margin-top: 0px;
  }
  .veres__logo {
    text-align: center;
  }
  .veres__block2 {
    margin-top: 0px;
  }
  .veres__title {
    color: #fff;
    font-size: 40px;
  }
  .veres__title-bold {
    color: #fff;
  }
  .veres__text {
    color: #fff;
    font-size: 24px;
  }
  .veres__sub-text {
    display: none;
  }
  .veres__link-mobile {
    display: inline-block;
    background-color: #fff;
    border-radius: 15px;
  }
  .veres__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .veres__imgaes {
    display: none;
  }
  .bot {
    display: none;
  }
  .text1 {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
  }
  .text2 {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
  }
  .link-mobile__container {
    margin: 20px 20px 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: -0px;
  }
  .footer__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
  }
  .footer__text {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: normal;
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
  }
  .veres__link-mobile {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: bold;
  }
  .mobile__telegram {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
    height: 60px;
    background-color: #fff;
    border-radius: 15px;
    position: relative;
  }
  .mobile__viber {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
    height: 60px;
    background-color: #fff;
    border-radius: 15px;
    position: relative;
  }
  .mobile__telegram-link {
    color: #29aaec;
    width: 100%;
    display: inline-block;
    position: relative;
    font-size: 19px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
  }
  .mobile__viber-link {
    color: #675dac;
    width: 100%;
    display: inline-block;
    position: relative;
    font-size: 19px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile__messages {
    margin-left: 5px;
  }
}

@media (max-width: 600px) {
  .veres__block {
    margin-top: 0px;
  }
  .veres__logo {
    text-align: center;
  }
  .veres__block2 {
    margin-top: 0px;
  }
  .veres__title {
    color: #fff;
    font-size: 30px;
  }
  .veres__title-bold {
    color: #fff;
  }
  .veres__text {
    color: #fff;
    font-size: 18px;
  }
  .veres__sub-text {
    display: none;
  }
  .veres__link-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    border-radius: 15px;
  }
  .veres__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .veres__imgaes {
    display: none;
  }
  .bot {
    display: none;
  }
  .text1 {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
  }
  .text2 {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
  }
  .link-mobile__container {
    display: block;
    margin: 40px auto;
    max-width: 384px;
  }
  .footer__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
  }
  .footer__text {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: normal;
    color: #fff;
    font-size: 16px;
    margin: 10px 20px;
    text-align: center;
  }
  .mobile__telegram {
    margin: 0 20px 0 20px;
  }
  .mobile__viber {
    margin: 20px 20px 0 20px;
  }
}
