html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.2;
}

ol {
  padding-left: 1.4em;
  list-style: decimal;
}

ul {
  padding-left: 1.4em;
  list-style: square;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Bryndan Write";
  src: url("../fons/Bryndan_Write.woff") format("woff"), url("../fons/Bryndan_Write.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Lugatype";
  src: url("../fons/lugatype.woff") format("woff"), url("../fons/lugatype.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  height: 100%;
}

body._lock {
  overflow: hidden;
}

.wraper {
  background: url(../img/Fon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header .header__sub-list .header-sub-link, .header__link, .header .header__activation-link {
  font-family: "Lugatype";
  font-style: normal;
  font-weight: normal;
  color: #1d71b8;
}

.header__activeation-image {
  display: none;
}

.header {
  overflow: hidden;
}

.header__container {
  margin: 0 auto;
  max-width: 1145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .menu-ikon {
  display: none;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 21px 0 0 20px;
  z-index: 99;
}

.header__content {
  margin-right: 20px;
  position: relative;
}

.header__nav {
  margin-top: 45px;
}

.header .header__menu {
  position: absolute;
  right: -450px;
}

@media (max-width: 1100.98px) {
  .header .header__menu {
    margin-right: 80px;
  }
}

@media (max-width: 900px) {
  .header .header__menu {
    margin-right: 130px;
  }
}

@media (max-width: 800px) {
  .header .header__menu {
    margin-right: 150px;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__list li {
  padding-bottom: 20px;
  margin-right: 35px;
}

.header__list li:hover {
  text-decoration: underline;
}

.header__list li:hover .header__sub-list {
  display: block;
}

.header .header__li1 {
  display: none;
}

.header .header__li2 {
  display: none;
}

.header .header__link-5 {
  display: none;
}

.header .header__sub-list {
  position: absolute;
  left: -23px;
  display: none;
}

.header .header__sub-list .header-sub-link {
  font-size: 24px;
}

.header__link {
  font-size: 24px;
  line-height: 27px;
}

.header .header__form {
  display: none;
}

.header .header__activation {
  margin: 33px 20px 0 54px;
  z-index: 99;
}

.header .header__activation-link {
  display: inline-block;
  font-size: 22px;
  line-height: 25px;
  text-transform: uppercase;
  padding: 13px 33px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-transition: color, background-color ease 1s, 1s;
  transition: color, background-color ease 1s, 1s;
}

.header .header__activation-link:hover {
  background-color: #1d71b8;
  color: #fff;
}

.header .header__images {
  display: none;
}

@media (max-width: 767.98px) {
  .header .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: fixed;
    z-index: 109;
    background: url(../img/fon2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }
  .header .header__logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 25px;
    margin-top: 10px;
  }
  .header .header__logo img {
    width: 60px;
  }
  .header .header__activation .header__activation-link {
    font-size: 20px;
    line-height: 25px;
    padding: 8px 25px;
  }
  .header .header__activation {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 30px;
  }
  .header .header__content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 50px;
  }
  .header .menu-ikon {
    display: block;
    z-index: 55;
    position: relative;
    width: 46px;
    height: 46px;
    cursor: pointer;
    margin-top: -20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
  }
  .header .menu-ikon span, .header .menu-ikon::before, .header .menu-ikon::after {
    left: 12px;
    position: absolute;
    height: 3px;
    width: 23px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #1d71b8;
  }
  .header .menu-ikon::before, .header .menu-ikon::after {
    content: "";
  }
  .header .menu-ikon span {
    top: 21px;
    -webkit-transform: scale(1) translate(0px, 0px);
            transform: scale(1) translate(0px, 0px);
  }
  .header .menu-ikon::before {
    top: 13px;
  }
  .header .menu-ikon::after {
    bottom: 14px;
  }
  .header .menu-ikon._active-menu span {
    -webkit-transform: scale(0) translate(20px, -50px);
            transform: scale(0) translate(20px, -50px);
  }
  .header .menu-ikon._active-menu::before {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
            transform: rotate(-45deg) translate(-5px, 5px);
  }
  .header .menu-ikon._active-menu::after {
    -webkit-transform: rotate(45deg) translate(-5px, -7px);
            transform: rotate(45deg) translate(-5px, -7px);
  }
  .header .header__menu .header__list ._active-laungage {
    background-color: #1d71b8;
    color: #fff;
  }
  .header .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: url(../img/fon2.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
    z-index: 5;
  }
  .header .header__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header .header__container.out {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .header .header__menu._active-menu {
    left: 0;
  }
  .header .header__menu::before {
    display: block;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 73px;
    background: url(../img/fon2.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 99;
  }
  .header .header__list {
    margin-top: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .header__list > li {
    margin-top: 0px;
  }
  .header .header__list > li:hover {
    text-decoration: none;
  }
  .header .header__link {
    display: block;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    width: 443px;
    padding: 8px 0;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    margin: 0;
  }
  .header .header__link:active {
    background-color: #1d71b8;
    color: #fff;
  }
  .header .header__link-5 {
    display: block;
  }
  .header .header__form {
    position: relative;
    left: -5px;
    top: 15px;
    display: block;
    padding: 10px 0px 10px 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 23px 20px;
    margin: 30px auto 0 auto;
  }
  .header .header__form .header__input {
    width: 255px;
    padding: 10px 20px;
    border: 2px solid #bfe5ec;
    border-radius: 15px;
    color: #1d71b8;
    font-family: "Lugatype";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;
    outline: none;
  }
  .header .header__form .header__input::-webkit-input-placeholder {
    color: #1d71b8;
  }
  .header .header__form .header__input:-ms-input-placeholder {
    color: #1d71b8;
  }
  .header .header__form .header__input::-ms-input-placeholder {
    color: #1d71b8;
  }
  .header .header__form .header__input::placeholder {
    color: #1d71b8;
  }
  .header .header__form .header__button {
    padding: 14px 15px 14px 14px;
    border: none;
    position: relative;
    right: 30px;
    top: 0;
    font-family: "Lugatype";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
    background: #1d71b8;
    -webkit-box-shadow: 0px 14px 21px rgba(29, 113, 184, 0.35);
            box-shadow: 0px 14px 21px rgba(29, 113, 184, 0.35);
    border-radius: 15px;
    width: 120px;
    height: 60px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .header .header__form .header__button:active {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .header .header__images {
    margin-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
  .header .header__link-fecabook, .header .header__link-instagram, .header .footer__images .footer__link-fecabook, .footer__images .header .footer__link-fecabook, .header .footer__images .footer__link-instagram, .footer__images .header .footer__link-instagram {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
  }
  .header .header__link-fecabook {
    padding: 19px 25px;
    margin-right: 15px;
  }
  .header .header__link-instagram {
    padding: 19px;
    margin-left: 15px;
  }
}

@media (max-width: 575.98px) {
  .header .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header .header__logo {
    position: static;
    margin-right: 0;
    margin-left: 5px;
  }
  .header .header__activation {
    margin-right: 0px;
    margin-left: 0px;
  }
  .header .header__content {
    margin: 0;
  }
  .header .header__activation-link {
    display: none;
  }
  .header .header__activeation-image {
    display: block;
    margin-top: -10px;
  }
  .header .activation-link {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 9px 10px;
    display: block;
  }
  .header .menu-ikon {
    left: 0;
    margin-top: -20px;
  }
  .header .header__list {
    margin-top: 120px;
    position: relative;
    left: 6px;
  }
  .header .header__link {
    width: 338px;
  }
  .header .header__link-1 {
    display: inline-block;
    width: auto;
    padding: 13px;
  }
  .header .header__link-2 {
    padding: 13px 8px;
    display: inline-block;
    width: auto;
  }
  .header .header__li2 {
    position: relative;
    top: -2px;
  }
  .header .header__form {
    position: relative;
    top: 0;
    left: 0px;
    display: block;
    padding: 15px 8px 15px 15px;
    margin: 30px auto 0 auto;
  }
  .header .header__form .header__input {
    width: 197px;
    padding: 11px 10px;
    border: 2px solid #bfe5ec;
    font-size: 20px;
    line-height: 23px;
  }
  .header .header__form .header__button {
    position: relative;
    right: 30px;
    top: 0px;
    font-size: 20px;
    line-height: 23px;
    width: auto;
    height: auto;
    padding: 14px 15px 14px 14px;
  }
  .header .header__images {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
}

.header__body .body__container {
  max-width: 1454px;
  height: 836px;
  margin: 0 auto;
  position: relative;
}

.header__body .title {
  font-family: "Lugatype";
  font-style: normal;
  font-weight: normal;
  font-size: 110px;
  line-height: 126px;
  text-transform: uppercase;
  color: #1d71b8;
}

.header__body .body__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.header__body .header__title-1 {
  padding: 137px 0 0 100px;
  position: relative;
}

.header__body .header__title-2 {
  position: relative;
  padding: 30px 0 0 190px;
}

.header__body .header__title-3 {
  position: relative;
  padding: 160px 70px 0 0;
  z-index: 2;
  text-align: right;
}

.header__body .mobile-fon {
  display: none;
}

@media (max-width: 1399.98px) {
  .header__body .header__title-1 {
    padding: 185px 0 0 30px;
  }
  .header__body .header__title-2 {
    padding: 27px 0 0 150px;
  }
  .header__body .header__title-3 {
    padding: 120px 70px 0 0;
    z-index: 2;
  }
  .header__body .title {
    font-size: 100px;
    line-height: 110px;
  }
}

@media (max-width: 1200px) {
  .header__body .header__title-1 {
    padding: 100px 0 0px;
    z-index: 2;
    text-align: center;
  }
  .header__body .header__title-2 {
    padding: 130px 0 0 100px;
  }
  .header__body .header__title-3 {
    padding: 120px 40px 0 0;
    z-index: 2;
  }
  .header__body .title {
    font-size: 90px;
    line-height: 100px;
  }
}

@media (max-width: 991.98px) {
  .header__body .body__container {
    height: 700px;
  }
  .header__body .header__title-1 {
    padding: 80px 0 0px 0;
    z-index: 2;
    text-align: center;
  }
  .header__body .header__title-2 {
    padding: 70px 0 0 50px;
  }
  .header__body .header__title-3 {
    padding: 120px 40px 0 0;
    z-index: 2;
  }
  .header__body .title {
    font-size: 90px;
    line-height: 100px;
  }
}

@media (max-width: 767.98px) {
  .header__body .mobile-fon {
    display: block;
  }
  .header__body .desctop-fon {
    display: none;
  }
  .header__body .body__container {
    margin-top: 180px;
    max-width: 596px;
    height: 697px;
  }
  .header__body .header__title-1 {
    padding: 50px 0 0px 39px;
    z-index: 0;
    text-align: left;
  }
  .header__body .header__title-2 {
    padding: 290px 0 0 20px;
    z-index: 0;
  }
  .header__body .header__title-3 {
    padding: 0px 5px 0 0;
    z-index: 0;
    top: -25px;
  }
  .header__body .title {
    font-size: 63px;
    line-height: 80px;
  }
}

@media (max-width: 575.98px) {
  .header__body .body__container {
    margin-top: 180px;
    max-width: 356px;
    height: 439px;
  }
  .header__body .header__title-1 {
    padding: 25px 0 0px 20px;
    z-index: 0;
    text-align: left;
  }
  .header__body .header__title-2 {
    padding: 200px 0 0 10px;
    z-index: 0;
  }
  .header__body .header__title-3 {
    padding: 0px 0 0 0;
    z-index: 1;
    top: -10px;
  }
  .header__body .title {
    font-size: 40px;
    line-height: 46px;
  }
}

/*Main - about*****************************************************************/
.container-content {
  max-width: 1145px;
  margin: 0 auto;
}

.love {
  color: red;
}

.people__display2 {
  display: none;
}

.about {
  margin: 0 45px;
  position: relative;
}

.about__images {
  position: absolute;
  z-index: -1;
  opacity: 0.5;
}

.about__content {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px -15px;
}

.about__content-text {
  margin: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  background: rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  border: 2px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about__content-contact {
  margin: -15px 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__man {
  margin: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid #fff;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about__wooman {
  margin: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid #fff;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact__content {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  border: 2px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 15px 0;
}

.circle-1 {
  top: 150px;
  left: 280px;
  width: 72.26px;
  height: 72.26px;
}

.circle {
  position: absolute;
}

.circle-2 {
  top: 250px;
  left: 500px;
  width: 286.76px;
  height: 291.03px;
}

.circle-3 {
  left: 950px;
  top: 330px;
  width: 293.52px;
  height: 293.52px;
}

.circle-4 {
  top: 450px;
  left: -150px;
  width: 286.76px;
  height: 291.03px;
}

.sub-title {
  font-family: "Lugatype";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;
  color: #1d71b8;
}

.content-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0);
}

.content__logo-img {
  padding: 73px 0 73px 0;
  width: 165px;
  height: 160px;
}

.content__text {
  background: rgba(255, 255, 255, 0.6);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 30px;
  border-radius: 0 0 20px 20px;
}

.text {
  font-family: "Bryndan Write";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #949494;
}

.contact__img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 195px;
  max-width: 795px;
}

.contact__people {
  position: absolute;
  width: 85%;
  height: 183px;
  bottom: 0;
}

.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  min-height: 90px;
  border-radius: 0 0 20px 20px;
}

.contact__about {
  margin: 15px -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.geo-info {
  padding: 25px;
  max-width: 195px;
  position: relative;
  font-family: "Bryndan Write";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #1d71b8;
}

.geo-img {
  position: absolute;
  top: 17px;
  left: 100px;
  z-index: -1;
  -webkit-filter: invert(0.4);
          filter: invert(0.4);
}

.number__img {
  left: 70px;
  top: 6px;
}

.email__img {
  left: 90px;
}

.adress__img {
  top: 17px;
}

@media (max-width: 492px) {
  .number__img {
    left: 60px;
  }
  .email__img {
    left: 85px;
  }
}

.about__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__people {
  background: rgba(255, 255, 255, 0.6);
  margin-top: 30px;
  border-radius: 0 0 20px 20px;
}

.man__img {
  padding-top: 35px;
}

.man__name {
  font-family: "Lugatype";
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #1d71b8;
  padding: 15px;
}

.man__text {
  padding: 19px 30px;
}

.wooman__img {
  padding-top: 35px;
}

.wooman__name {
  font-family: "Lugatype";
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #1d71b8;
  padding: 15px;
}

.wooman__text {
  padding: 19px 30px;
}

@media (max-width: 991.98px) {
  .circle-1 {
    top: 50px;
    left: 100px;
    width: 72.26px;
    height: 72.26px;
  }
  .circle {
    position: absolute;
  }
  .circle-2 {
    top: 250px;
    left: 500px;
    width: 286.76px;
    height: 291.03px;
  }
  .circle-3 {
    left: 450px;
    top: 830px;
    width: 293.52px;
    height: 293.52px;
  }
  .circle-4 {
    top: 450px;
    left: -150px;
    width: 286.76px;
    height: 291.03px;
  }
  .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__content-contact {
    margin-top: 15px;
  }
  .geo-info {
    font-size: 16px;
  }
}

@media (max-width: 767.98px) {
  .about {
    margin-top: 35px;
  }
  .circle-1 {
    top: 150px;
    left: -30px;
    width: 72.26px;
    height: 72.26px;
  }
  .circle {
    position: absolute;
  }
  .circle-2 {
    top: 450px;
    left: 180px;
    width: 286.76px;
    height: 291.03px;
  }
  .circle-3 {
    left: 450px;
    top: 630px;
    width: 293.52px;
    height: 293.52px;
  }
  .circle-4 {
    top: 880px;
    left: -100px;
    width: 286.76px;
    height: 291.03px;
  }
  .geo-info {
    font-size: 16px;
    line-height: 18px;
  }
  .contact__content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .contact__about {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .text {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 575.98px) {
  .circle-1 {
    display: none;
  }
  .circle {
    position: absolute;
  }
  .circle-2 {
    top: 650px;
    left: 150px;
    width: 286.76px;
    height: 291.03px;
  }
  .circle-3 {
    left: -180px;
    top: 950px;
    width: 293.52px;
    height: 293.52px;
  }
  .circle-4 {
    top: 1300px;
    left: 100px;
    width: 286.76px;
    height: 291.03px;
  }
  .text {
    font-size: 14px;
    line-height: 16px;
  }
  .man__text {
    padding: 30px 16px;
  }
  .wooman__text {
    padding: 30px 16px;
  }
  .man__name {
    font-size: 20px;
    line-height: 23px;
  }
  .wooman__name {
    font-size: 20px;
    line-height: 23px;
  }
  .wooman__img {
    width: 80px;
    height: 80px;
  }
  .man__img {
    width: 80px;
    height: 80px;
  }
  .contact__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__man {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about__wooman {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 30px;
  }
  .about__name-ifo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
  .about__people {
    margin-top: 0;
    padding-top: 16px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
  }
  .name-info__wooman {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .text__wooman {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .people__display {
    display: none;
  }
  .people__display2 {
    display: block;
    bottom: -53px;
  }
  .geo-info {
    margin-top: 20px;
  }
  .contact__img {
    height: 95px;
  }
}

/***********************************************
*********************PRODUCT*******************/
.product__images {
  position: relative;
  z-index: -1;
}

.product {
  margin-top: 120px;
  position: relative;
}

.product__title-cards {
  font-family: "Bryndan Write";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #1d71b8;
  margin-top: 15px;
}

.product__cards {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 54px;
}

.circle {
  position: absolute;
  z-index: -1;
}

.circle-5 {
  right: -200px;
  top: 200px;
  width: 396px;
  height: 402px;
}

.circle-6 {
  top: 100px;
  left: -70px;
  width: 167px;
  height: 167px;
}

.circle-7 {
  top: 350px;
  left: -70px;
  width: 110px;
  height: 112px;
}

.cards__img img {
  position: absolute;
  width: 70%;
  height: 70%;
}

.cards {
  margin: 0 10px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.cards__conteiner {
  border: 2px solid #fff;
  margin: 0 15px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cards__img {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  height: 426px;
}

.cards__content {
  background: rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-bottom: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-radius: 0 0 20px 20px;
}

.cards__tittle {
  font-family: "Lugatype";
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
  color: #1d71b8;
  padding-top: 20px;
}

.cards__text {
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.cards__button {
  font-family: "Lugatype";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #fff;
  background-color: #1d6fb5;
  margin: 0 20px;
  padding: 9px;
  -webkit-box-shadow: 0px 14px 21px rgba(29, 113, 184, 0.35);
          box-shadow: 0px 14px 21px rgba(29, 113, 184, 0.35);
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border: none;
}

.buttommobile1 {
  display: none;
}

.buttomdesctop-1 {
  display: block;
}

.buttommobile2 {
  display: none;
}

.buttomdesctop2 {
  display: block;
}

.buttommobile3 {
  display: none;
}

.buttomdesctop3 {
  display: block;
}

@media (max-width: 900px) {
  .cards__img {
    height: 300px;
  }
}

@media (max-width: 767.98px) {
  .circle-5 {
    right: -70px;
    top: 0px;
    width: 218px;
    height: 221px;
  }
  .circle-6 {
    top: 100px;
    left: -70px;
    width: 167px;
    height: 167px;
  }
  .circle-7 {
    top: 450px;
    left: -50px;
    width: 110px;
    height: 112px;
  }
  .cards__img {
    height: 200px;
  }
  .cards__button {
    font-size: 20px;
    line-height: 23px;
  }
  .product__cards {
    margin: 15px -2px 0 -2px;
  }
  .cards__conteiner {
    margin: 0 2px;
  }
}

@media (max-width: 600px) {
  .circle-5 {
    right: -50px;
    top: 1150px;
    width: 218px;
    height: 221px;
  }
  .circle-6 {
    top: 550px;
    left: 300px;
    width: 167px;
    height: 167px;
  }
  .circle-7 {
    top: 450px;
    left: 0px;
    width: 110px;
    height: 112px;
  }
  .product__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cards {
    max-width: 338px;
    margin: 20px auto 0 auto;
  }
  .cards__img {
    height: 350px;
  }
  .cards-sub__city input.sity-input::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 18px;
  }
  .cards-sub__city input.sity-input:-ms-input-placeholder {
    font-size: 18px;
    line-height: 18px;
  }
  .cards-sub__city input.sity-input::-ms-input-placeholder {
    font-size: 18px;
    line-height: 18px;
  }
  .cards-sub__city input.sity-input::placeholder {
    font-size: 18px;
    line-height: 18px;
  }
  .buttomdesctop-1 {
    display: none;
  }
  .buttommobile1 {
    display: block;
  }
  .buttommobile2 {
    display: block;
  }
  .buttomdesctop2 {
    display: none;
  }
  .buttommobile3 {
    display: block;
  }
  .buttomdesctop3 {
    display: none;
  }
}

/************************************************************
************************SUB-CARDS****************************
************************************************************/
.product__visible {
  display: none;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.product__cards-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 52px;
  border: 2px solid #fff;
  border-radius: 20px;
}

input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.before::before {
  content: "";
  background: url(../img/sub-sparow.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 8px;
  display: block;
  position: absolute;
  right: 100px;
  top: 55px;
}

.cards-sub__img img {
  padding: 20px;
}

.cards-sub__img {
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  border-radius: 20px 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.cards-sub__content {
  background: rgba(255, 255, 255, 0.6);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  border-radius: 0 20px 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 31px;
}

.cards-sub__title {
  text-align: center;
}

.cards-sub__text {
  padding: 0 60px 0 60px;
}

.cards-sub__button {
  text-align: center;
  display: inline-block;
  font-family: "Lugatype";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #fff;
  background-color: #1d6fb5;
  width: 387px;
  padding: 9px;
  -webkit-box-shadow: 0px 14px 21px rgba(29, 113, 184, 0.3);
          box-shadow: 0px 14px 21px rgba(29, 113, 184, 0.3);
  border-radius: 10px;
  cursor: pointer;
  margin: 45px auto 0 auto;
}

.cards-sub__button:active {
  background-color: #fff;
  color: #1d6fb5;
}

.cards-sub__message {
  margin-top: 30px;
  text-align: center;
}

.cards-sub__message .message__text {
  font-size: 14px;
  line-height: 16px;
  margin: 0 20px;
}

.cards-sub__message .cards-sub__link {
  margin-top: 6px;
}

.cards-sub__message .cards-sub__telegram {
  border-bottom: 2px solid;
  margin-right: 30px;
  font-size: 14px;
  line-height: 16px;
  position: relative;
}

.cards-sub__message .cards-sub__telegram::before {
  content: "  ";
  background: url(../img/telegram.svg);
  width: 20px;
  height: 17px;
  position: absolute;
  left: -30px;
  top: 0;
}

.cards-sub__message .cards-sub__viber {
  border-bottom: 2px solid;
  margin-left: 30px;
  font-size: 14px;
  line-height: 16px;
  position: relative;
}

.cards-sub__message .cards-sub__viber::before {
  content: "  ";
  background: url(../img/viber.svg);
  width: 20px;
  height: 20px;
  position: absolute;
  left: -30px;
  top: 0;
}

@media (max-width: 1200px) {
  .product__visible {
    margin: 0 45px 0 45px;
  }
}

@media (max-width: 850px) {
  .product__visible {
    margin: 0 45px 0 45px;
  }
  .cards-sub__button {
    width: 324px;
  }
}

@media (max-width: 767.98px) {
  .product__cards-sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 600px) {
  .product__cards-sub {
    max-width: 338px;
    margin: 30px -50px;
  }
  .cards-sub__button {
    width: 250px;
  }
  .cards-sub__img img {
    padding: 20px;
    width: 200px;
    height: 300px;
  }
  .cards-sub__content {
    border-radius: 0 0 20px 20px;
  }
  .cards-sub__img {
    border-radius: 20px 20px 0 0;
  }
}

._active-buttom {
  background: transparent;
  color: #1d6fb5;
  border: 2px solid #1d6fb5;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

@media (min-width: 600px) {
  ._activ-subCards {
    display: block;
    position: relative;
    top: 0;
    opacity: 1;
    -webkit-animation-name: position;
            animation-name: position;
    -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  ._activ-width {
    -webkit-transform: scale(1.3, 1.1);
            transform: scale(1.3, 1.1);
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  ._activ-width .cards__img {
    background: rgba(255, 255, 255, 0.8);
  }
  ._activ-width .cards__content {
    background: rgba(255, 255, 255, 0.8);
  }
}

@media (max-width: 600px) {
  ._activ-width {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  ._activ-width .cards__img {
    background: rgba(255, 255, 255, 0.8);
  }
  ._activ-width .cards__content {
    background: rgba(255, 255, 255, 0.8);
  }
  ._activ-width ._active-mobile {
    display: block;
    position: relative;
    top: 0;
    opacity: 1;
    -webkit-animation-name: position;
            animation-name: position;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@-webkit-keyframes position {
  0% {
    top: -80px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes position {
  0% {
    top: -80px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

/************************************************************
***********************footer********************************
************************************************************/
.footer__images {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.footer__images .link-soc {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  display: inline-block;
}

.footer__images .footer__link-fecabook {
  padding: 19px 25px;
  margin-right: 15px;
}

.footer__images .footer__link-instagram {
  padding: 19px;
  margin-left: 15px;
}

.size {
  height: 110px;
  position: absolute;
}

div.selectBox {
  position: relative;
  cursor: default;
  text-align: left;
  line-height: 30px;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.selectBox::after {
  content: " ";
  background: url(../img/sub-sparow.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 8px;
  display: block;
  position: absolute;
  right: 90px;
  top: 52px;
  color: #1d71b8;
  z-index: 2;
}

span.selected {
  font-family: "Lugatype";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  text-indent: 20px;
  border: 2px solid #bfe5ec;
  width: 566px;
  border-radius: 15px;
  background: white;
  overflow: hidden;
  padding: 9px;
  color: #1d71b8;
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.selectOptions {
  width: 587px;
  position: absolute;
  top: 85px;
  left: 30px;
  border: 2px solid #bfe5ec;
  border-radius: 15px;
  overflow: hidden;
  background: white;
  font-family: "Lugatype";
  font-style: normal;
  font-weight: normal;
  color: #1d71b8;
  padding-top: 2px;
  display: none;
  font-size: 24px;
  line-height: 27px;
}

span.selectOption {
  display: block;
  padding: 7px 32px;
}

span.selectOption:hover {
  color: #f6f6f6;
  background: #4096ee;
}

@media (max-width: 1150px) {
  div.selectBox {
    margin: 0 auto;
  }
  div.selectBox::after {
    position: absolute;
    right: 80px;
    top: 52px;
  }
  span.selected {
    line-height: 27px;
    text-indent: 20px;
    width: 424px;
  }
  div.selectOptions {
    width: 445px;
    font-size: 24px;
    line-height: 27px;
  }
}

@media (max-width: 991px) {
  div.selectBox {
    margin: 0 auto;
  }
  div.selectBox::after {
    position: absolute;
    right: 70px;
    top: 52px;
  }
  span.selected {
    line-height: 27px;
    text-indent: 20px;
    width: 324px;
  }
  div.selectOptions {
    width: 345px;
    font-size: 24px;
    line-height: 27px;
  }
}

@media (max-width: 850px) {
  div.selectBox::after {
    position: absolute;
    right: 70px;
    top: 52px;
  }
  span.selected {
    font-size: 20px;
    line-height: 23px;
    width: 224px;
    padding: 13px;
  }
  div.selectOptions {
    width: 250px;
    font-size: 20px;
    line-height: 23px;
  }
}

@media (max-width: 767.98px) {
  div.selectBox::after {
    position: absolute;
    right: 70px;
    top: 52px;
  }
  span.selected {
    width: 348px;
  }
  div.selectOptions {
    width: 374px;
  }
}

@media (max-width: 600px) {
  span.selected {
    width: 198px;
  }
  div.selectOptions {
    width: 224px;
  }
}
